html{
    font-size: 10px;
  }
  
  body{
    font-family: Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #000;
    margin: 0;
    background-image: url("https://st.depositphotos.com/1004216/1376/v/950/depositphotos_13766330-stock-illustration-blue-musical-background-with-notes.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  header{
    line-height: 0.5;
  }
  footer{
    line-height: 3;
  }
  h1{
    font-size: 3.5rem;
  }
  h2{
    font-size: 2.5rem;
  }
  
  #image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
  }
  #main {
    margin: 20px 8px;
    padding: 5px;
  }
  #headline{
    text-align: justify;
    margin-left: 20px;
  }
  ul{
    margin-left: 0px;
    text-align: justify;
    line-height: 2;
  }
  #quote{
    line-height:0.2;
    text-align: right;
    font-style: italic;
  }
  #strat{
    opacity: 0.15;
  }
  #tx_strat{
    margin: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 200px;
  }
  #strat:hover{
    animation-name: opacity;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes opacity{
    100%{
      opacity: 1;
    }
  }